<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <!-- 商户id -->
    <add key="PAY_ID" value="" />
    <!-- 商户key -->
    <add key="PAY_SECRET" value="" />
    <add key="NOTIFY_URL" value="/Notify.aspx" />
    <add key="RETURN_URL" value="/Return.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
